
/*

 Gislaine Carvalho
 
 */

body {
  background: rgb(245, 245, 248);
  background: url(./img/D_NQ_NP_993888-MLB28846838455_122018-O.jpg);
  font-family: 'Pacifico', cursive;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
}
#div1 {
  text-align: center;
  background: pink;
  width: 180px;
  height: 40px;
  border: 10px double rgb(83, 35, 3);
  display: none;
}

#div2 {
  text-align: center;
  background: pink;
  width: 180px;
  height: 40px;
  border: 10px double rgb(83, 35, 3);
  display: none;
}

#div3 {
  text-align: center;
  background: pink;
  width: 180px;
  height: 40px;
  border: 10px double rgb(83, 35, 3);
  display: none;
}

button {
  background: pink;
  width: 200px;
  height: 50px;
  border: 10px double rgb(83, 35, 3);
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

.hero {
  background: rgb(201, 192, 255);
  background: url(./img/Bolo\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  margin: 0 0 21px 0;
  border: 10px double rgb(83, 35, 3);
}

.text {
  text-align: center;
  background: white;
  background: url(./img/madeira.jpeg);
  font-family: 'Pacifico', cursive;
  border-bottom: 10px double rgb(83, 35, 3);
}

h1 {
  font-size: 50px;
  margin: 0 auto;
}

.stuff {
  background: pink;
  float: left;
  margin: 10px;
  padding: 15px;
  width: 260px;
  height: 375px;
  border: 10px double rgb(83, 35, 3);
  text-align: center;
}

#info {
  text-align: center;
  margin: auto;
  width: auto;
}

h3 {
  font-size: 25px;
  margin: 0 0 10px 0;
  font-weight: 300;
}

p {
  font-size: 16px;
}

.pics {
  width: 180px;
  height: 200px;
  border: 10px double white;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#about {
  width: 100%;
  height: 330px;
  position: relative;
  float: left;
  margin: auto;
  max-width: auto;
  margin-top: 50px;
}

.idbox {
  background: pink;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 500px;
  height: 240px;
  border: 10px double rgb(83, 35, 3);
}

.emoji {
  float: left;
  position: relative;
  top: 10px;
  left: 0;
  width: 100px;
  height: 100px;
  border: 10px double white;
  margin: 10px;
}
footer img{
width:2rem;
height: 2rem;
}

.footer {
  background: pink;
  clear: both;
  position: relative;
  width: 100%;
  height: 6rem;
  margin: 0 auto;
  border: 10px double rgb(83, 35, 3);
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 20px;
}