
    /*
Folha de Estilo site Cake's Home,  HTML5 e CSS3
@autor Gislaine Carvalho
*/

/*Importação*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,600;1,800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/*CSS Reset*/
*{
    margin:0;
    border:0;
    padding:0;
}

/*Layout*/
.container {
    margin:0 auto;
    background-color: #fff;
}
.flex{
    display:flex;
    justify-content:space-between;
    background-color:#A0522D;
    margin-top: 1rem;
    height: 10rem;
    width: 100%;

}

/*topo de site*/
#topo{
    position: fixed;
    right: 10px;
    bottom: 20px;
    }
#logo{
    width: 7rem;
    height: 7rem;
    margin-top: 2rem;
}

.img_logo{
    width: 100%;
}



/*Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Cabeçalho*/
header{
    height:rem;
}
#check{
    display: none;
}

label{
    font-size: 3em;
}

nav ul {
    list-style: none;
    background-color:antiquewhite;
    height: 44vh;
    position: fixed;
    margin-left: 2rem;
    margin-right: 2rem;
    top:11em;
    right: -100%;
    width: 93.8%;
    transition: all 0.5s;
}
#check:checked~ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid #6d6b6b;
}

nav ul li a {
    text-decoration: none;
    color: rgb(136, 125, 125);
}
/*Smartphone LandScape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media(min-width:576px){
    .flex{
        background-color:#A0522D;
    } 
    /*Layout*/
    .container{
        max-width: 540px;
    }
   
}

/*Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media(min-width:768px){
    .flex{
       background-color:#A0522D;
    }
    /*Layout*/
    .container{
        max-width: 720px;
        background-color: white;
    }
}
 

/*Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media(min-width:992px){
    .flex{
        background-color:#A0522D;
    }
    /*Layout*/
    .container{
        max-width: 960px;
    }
}

/*Tablet LandScape>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*PC>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media(min-width:1200px){
    .flex{
        background-color:#A0522D;
    }
    /*Layout*/
    .container{
        max-width: 1140px;
    }
    /*cabeçalho*/
    header{
        height: 120px;
    }
    #logo img{
        width: 180px;
        height: 180px;
    }

    label{
        display: none;
    }

    nav ul {
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 50px;
    }
    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: #343538;
    }

    nav ul li a:hover {
        color: #fff;
    }
}
