/*
Folha de Estilo site Cake's Home,  HTML5 e CSS3
@autor Gislaine Carvalho
*/

/*CSS Reset*/
*{
    margin:0;
    border:0;
    padding:0;
}
/*Importação*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,600;1,800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/*Layout*/
.container {
    margin:0 auto;
}

/*Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*Smartphone LandScape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media(min-width:576px){
    body{
        background-color: #00aeff;
    }
    /*Layout*/
    .container{
        max-width: 540px;
    }
}

/*Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media(min-width:768px){
    body{
        background-color: #ff008c;
    }
    /*Layout*/
    .container{
        max-width: 720px;
        background-color: white;
    }
}
 
}
/*Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media(min-width:992px){
    body{
        background-color: #b3ff00;
    }
    /*Layout*/
    .container{
        max-width: 960px;
    }
}
}
/*Tablet LandScape>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*PC>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media(min-width:1200px){
    body{
        background-color: #ff6600;
    }
    /*Layout*/
    .container{
        max-width: 1140px;
    }
}
}

